
body {
  text-align:center;
  margin: 0;
  overflow: hidden;
    }
canvas {
  display: block;
  margin: 0 auto;
}
#viewer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}		
h1 { color: #3055dd; font-size: 1.8rem; font-weight: 800; text-decoration: none; }
